<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add Pet</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/second_app/created" method="post">
        {%csrf_token%}
       <p> Name: <input type="text" name="name"></p>
       <p><input type="hidden" name="user" value="{{request.session.id}}"></p>
       <p> Type: <input type="text" name="type"></p>
       <p> <input type="submit" value="Add Pet"></p>
    </form>
</body>
</html>